@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: darkolivegreen;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 60px;
}

.sidebar .brand{
    height: 80px;
    display: flex;
    align-items: center;  
}

.sidebar .brand .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500; 
}

.sidebar .menu_links{
    margin-top: 10px;  
}

.sidebar .menu_links li{
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .menu_links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .menu_links li a.active{
    background: goldenrod;
}

.sidebar .menu_links li a:hover{
    background: peru;
}

.sidebar .menu_links li a .menu_name{
    font-size: 15px;
    font-weight: 400;
    color:lightgoldenrodyellow;
    white-space: nowrap;
}

.sidebar .menu_links .log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home{
    position: relative;
    background: lightgoldenrodyellow;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease; 
}

.sidebar.active ~ .home{
    width: calc(100% - 60px);
    left: 60px;
}

.home nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: peru;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
}

.home nav .menu_button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid darkolivegreen;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: darkolivegreen;
    margin: 0 10px;
    white-space: nowrap;
}

.home .home-content{
    position: relative;
    padding-top: 104px;
}

.home-content .overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background:goldenrod;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.overview .box-title{
    font-size: 20px;
    font-weight: 500;
}

.home .box .number{
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.home .box .indicator{
    display: flex;
    align-items: center;
}

.home .box .indicator .text{
    font-size: 12px;
}

.home .sales{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

.home .sales .recent-sales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-details{
    float: left;
    width: 27%;
    padding:80px;
    
}

.sales:after{
  content: "";
  display: table;
  clear: both;
}

.details{
    list-style: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 100px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: goldenrod;
  }

.title{
    align-items: center;
    font-size: 30px;
}